body {
  
}
.my-bg-dark {
  background-color: black;
}
.container-fluid {
  margin-top: 7%;
}
form > .demo > label {
  color: black;
}

textarea {
  min-width: 100%;
  min-height: 50%;
}
#myTable {
  color: black;
  
  border-radius: 15px;
  border-color: white;
  border-style: outset;
}

#myTable.table-hover tbody tr:hover {
	color: white;
	background-color: black;
}

#the_stuff {
  border-radius: 15px;
  border-color: white;
  border-style: outset;
}

/*Styling Timeline*/
.vis-timeline {
  border-radius: 15px;
  border-color: white;
  border-style: outset;
  width: 100%;
  border: 1.3px solid white;
  border-width: thin;
  border-bottom-width: thin;
  border-top-width: thin;
  background: white;
  color: black;
  font-size: 15px;
}

.vis-item {
  color: #fff;
  background-color: black;
  font-style:bold;
  font-size: 18px;
  border-color: black;
  background: ff;
  opacity: .75;
}

.vis-selected {
  color: black;
}
/*Bootstrap overrides*/


